:root {
  --brend-color: #2e2f42;
  --white-color: #ffffff;
  --text-color: #434455;
  --logo-color: #4d5ae5;
  --team-color: #f4f4fd;
  --paragraph-color: #e7e9fc;
  --button-color: #404bbf;
  --portfolio-img-gap: 24px;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: var(--white-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.heder-border {
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brend-color);
}
.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--team-color);
}

.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--button-color);
}
.addres-heder {
  font-style: normal;
  margin-left: auto;
}
.heder-address {
  display: flex;
  align-items: center;
}
.menu-mail {
  display: flex;
  align-items: center;
}
.menu-mail:not(:last-child) {
  margin-right: 40px;
}
.address-mail {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--button-color);
}
/* HERO IMAGE */
.hero {
  text-align: center;
  background-color: var(--brend-color);
}
.pege-hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 48px;
}
.button-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 188px;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-color);
}

/* SECTION 1 */
.sectin {
  background-color: var(--white-color);
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-container {
  display: flex;
  width: calc((100% -3 * 24px) / 4);
}
.section-container:not(:last-child) {
  margin-right: 24px;
}
.section-descript {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.name-strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
  margin-bottom: 8px;
}
.text-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* SECTION 2 */
.sectin {
  background-color: var(--white-color);
}

.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brend-color);
  min-width: 323px;
  padding: 0 417px;
  margin-bottom: 72px;
}
.work-imeges {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 83px;
}
.section-work {
  display: flex;
  justify-content: center;
}
.work-container {
  max-width: calc((100% - 2 * 24px) / 3);
}
.work-container:not(:last-child) {
  margin-right: 24px;
}

/* SECTION 3 */
.team {
  background-color: var(--team-color);
}
.team-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--brend-color);
  min-width: 162px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  margin-bottom: 72px;
}

.section-team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}

.container-img {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-img:not(:last-child) {
  margin-right: 12px;
}
.team-mark {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
  padding-bottom: 8px;
}
.team-designer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-content {
  padding: 32px 0;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: var(--brend-color);
}
.footer-content {
  width: 1158px;
  margin-left: 55px;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}

/* PORTFOLIO BATTON */
.portfolio-batton {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.batton-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--paragraph-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  display: inline-block;
  min-width: 69px;
  text-align: center;
  border: 1px solid transparent;
  margin-right: 24px;
}
.batton-portfolio:hover,
.batton-portfolio:focus {
  background-color: var(--button-color);
  color: var(--white-color);
}
/*  PORTFOLIO IMG*/
.portfolio {
  display: flex;
  margin-left: var(--portfolio-img-gap);
  margin-top: 48px;
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
  margin-left: calc(-1 * var(--portfolio-img-gap));
  margin-bottom: 120px;
}
.portfolio-img > .portfolio {
  flex-basis: calc(100% / 3 - var(--portfolio-img-gap));
}
.name-img {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brend-color);
}
.text-img {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.portfolio-content {
  padding: 32px 54px 32px 16px;
}
.name-img {
  margin-top: 32px;
}
/* FOOTER */
.footer {
  background-color: var(--brend-color);
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
.footer-content {
  max-width: 264px;
  padding: 100px 1020px 100px 156px;
}
.text-footer {
  padding-top: 16px;
}
